<div class="row row-login">
    <div class="jumbotron jumbotron-fluid d-flex align-items-center jumbotron-facebook-login">
            <div class="container facebook-login-container">
                <h1 class="display-4">Welcome to GrowthBond</h1>
                <p class="lead">We are pleased to have you with us. To proceed please give your authorization for acces you Ads statictics on facebook</p>
                <button (click)="facebookLogin()" class="btn btn-lg btn-facebook-auth" ><fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                    Authorize GrowthBond</button>
            </div>
        </div>               
</div>






