<div class="row row-login flex-fill d-flex align-items-center">
    <div class="col-12 jumbotron text-center justify-content-center">
            <h1 class="display-4">Welcome to GrowthBond</h1>
            <p class="lead" >We are pleased to have you with us, to proceed please give your authorization to acces your ads statictics on Facebook</p>
            <button (click)="facebookLogin()" class="btn btn-lg btn-facebook-auth" ><fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                Authorize GrowthBond</button>
    </div>               
</div>






