<div class="row d-flex align-items-center justify-content-center">
    <div class="d-flex" *ngIf="spinnerOn">
        <fa-icon [icon]="['fa', 'circle-notch']" [spin]="true" size="8x"></fa-icon>  
    </div>
    
    <div class="col-12 jumbotron justify-content-center text-center">
        <div *ngIf="!adaccountSelected && adaccounts">
            <div class="select-adac-message">
                <h4>Please select the Facebook Ad account to use for GrowthBond</h4>
            </div>
            <div class="btn-group-vertical btn-group-toggle mx-auto" data-toggle="buttons">
                <label class="btn btn-large btn-secondary" *ngFor="let adac of adaccounts">
                    <input type="radio" value="{{adac.id}}" #adacinput 
                    (click)="selectAdaccount(adacinput.value)" autocomplete="off"> 
                    <span *ngIf="adac.business_name">{{adac.business_name}} - {{adac.business_city}}</span>
                    <span *ngIf="!adac.business_name">Personal Account</span>
                </label>
            </div>      
        </div>
        <div *ngIf="campaignData">
            <div *ngIf="campaignData.length === 0">
                <h4 class="lead">Sorry that account has no ad campaigns</h4>
                <button class="btn btn-secondary" (click)="selectAdacAgain()">Select another adaccount</button>
            </div>
            <div *ngIf="campaignData.length !== 0">
                <h4 class="lead">Thank you, the following campaings will be procesed by our experts:</h4>
    
                <div class="list-group">
                    <div class="list-group-item list-group-item-action flex-column align-items-start"
                    *ngFor="let cp of campaignData"
                    >
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{cp.objective}}</h5>
                        <small>{{cp.status}}</small>
                        </div>
                        <p class="mb-1">{{cp.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
