.flex-fill {
    height:100vh;
}

h4{
    text-align: center;
    font-weight: 300;
}

.add-accounts-container{
    padding: 30px;
}

.select-adac-message{
    padding: 5vh;
}

.jumbotron{
    background-color: azure;
}

.spinner{
  z-index: 999;
  margin-top: 25vh;
}